<h1>Example login screen</h1>
<table border="1">
<tr>
  <td><b>Email Address</b></td>
  <td><input size="20"></td>
</tr>
   <tr>
  <td><b>Password</b></td>
  <td><input size="20"></td>
   </tr>
  <tr>
    <td></td>
    <td><button>Login</button>
  </tr>
  </table>
<!-- TODO -->
