<% @cars.each do |car| %>
  <h2>
    Who has the <%= car.model %>?
<% member = Memver.find_by(id: car.member_id) %>
<% if member == nil %>
No one
<% else %>
<%= member.name %>
<% end %>

has the <% = car.model %>
</h2>
<% end %>


