<a href="/">Back</a>

<h1>Player details page</h1>

<p>
  <b>Name</b><br>
  <%= @player.name %>
</p>

<p>
	<b>Team Name</b><br>
	<%= Team.find(@player.team_id).name %>   <!-- finding the team_id of the player variable -->
</p>
